@media(max-width: 411px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 110px;
        margin-left: 505px;
        margin-right: 505px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 75px;
            width: 100%;
          
        }

    .box2{
            padding-left: 290px;
            padding-right: 150px;
             height: 100px;
             background-color: grey;
         }

    .box2 > div{
        margin-left: 200px;
        margin-right: 177px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 80px;
            width: 50px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 10px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 110px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 560px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 560px;
    }

  /* .box3{
    margin-left: -300px;
    margin-right: -350px;
      
  } */


  .box3 h4{
      margin-left: 510px;
      font-size: 25px;
  }

  .box3 p{
     font-size: 20px;
    margin-left: 493px;
    margin-right: 505px;
    padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 660px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 17px;
  }

  .tit{
      font-size: 20px;
      padding: 7px;
    margin-left: 505px;
    margin-right: 505px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 495px;
      margin-right: 510px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 160px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 480px;
      margin-right: 500px;
      padding-left: 20px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 14px;
  }

  .box4 h3{
      font-size: 20px;
      margin-left: 640px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 565px;
      margin-right: 380px;
      height: 140px;
  }

  
  
  #yourceleb{
      margin-left: 570px;
     margin-right: 570px;
     font-size: 17px;
  }

  .box4 button{
      margin-left: 600px;
     margin-right: 600px;
    
  }

  .toggle{
      display: block;
      width: 77%;
  }

  .heading{
      position: absolute;
      display: none;
      margin-left: 711px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
    
  }

  .heading > div a{
      padding: 5px;
      float: left;
      margin-left: 10px;
      font-size: 15px;
  }

  .heading .container{
    display: none;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }

  .menu{
     margin-right: 200px;
  }

  ul{
      position: absolute;
  }

  ul li{
      width: 5px;
  }

  ul li a{
       position: absolute;
  }
 
  li:hover{
    padding-right: 140px;
  }

}


@media(max-width: 360px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 95px;
       
        margin-left: 635px;
        margin-right: 635px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 55px;
            width: 100%;
          
        }

    .box2{
            padding-left: 414px;
            padding-right: 150px;
             height: 100px;
             background-color: grey;
         }

    .box2 > div{
        margin-left: 200px;
        margin-right: 177px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 78px;
            width: 50px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 100px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 650px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 650px;
    }

  /* .box3{
    margin-left: -300px;
    margin-right: -350px;
      
  } */


  .box3 h4{
      margin-left: 628px;
  }

  .box3 p{
     
    margin-left: 615px;
    margin-right: 622px;
      padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 750px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 17px;
  }

  .tit{
    font-size: 15px;
    padding: 5px;
    margin-left: 625px;
    margin-right: 625px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 613px;
      margin-right: 623px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 160px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 605px;
      margin-right: 620px;
      padding-left: 15px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 15px;
  }

  .box4 h3{
      margin-left: 725px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 650px;
      margin-right: 380px;
  }

  
  
  #yourceleb{
      margin-left: 300px;
     margin-right: 300px;
     font-size: 14px;
  }

  .box4 button{
      margin-left: 700px;
     margin-right: 700px;
    
  }

  .toggle{
      display: block;
      width: 73%;
  }

  .heading{
      position: absolute;
      display: none;
      margin-left: 800px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
    
  }

  .heading > div a{
    padding: 5px;
    float: left;
    font-size: 13px;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }

  .menu{
     margin-right: 200px;
  }

  ul{
    position: absolute;
}

ul li{
    width: 5px;
}

ul li a{
     position: absolute;
}

li:hover{
  padding-right: 130px;
}

.heading .container{
    display: none;
}
}
